.navigation {
  background-color: aquamarine;
  height: 8rem;
  border-top: 1px solid #aaa;

  &-wrapper {
    background-color: violet;
    height: 8rem;
    display: flex;
    flex-flow: row nowrap;
  }
}

.navigation__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
